.index__blueBg___2aHe3 {
  background-color: red;
  color: white; }

body {
  min-height: 2000px;
  padding-top: 70px; }

.index__navlinkActive___1yJgB {
  color: red; }
._navlink__navlinkActive___15OQd {
  color: red; }
